options {
  directory "/var/cache/bind";

  listen-on port 53 { any; };

  allow-query { any; };
  allow-transfer { none; };
  allow-update { none; };

  recursion no;
  auth-nxdomain no;
  dnssec-validation no;
};

zone "{{ zone }}" {
  type master;
  file "{{ zone_path }}/db.auth";

  allow-transfer { none; };
  allow-update { none; };
};

zone "{{ root_zone }}" {
  type hint;
  file "{{ zone_path }}/db.root.hints";
};

zone "localhost" {
  type master;
  file "{{ zone_path }}/db.local";
};

zone "0.in-addr.arpa" {
  type master;
  file "{{ zone_path }}/db.0";
};

zone "127.in-addr.arpa" {
  type master;
  file "{{ zone_path }}/db.127";
};

zone "255.in-addr.arpa" {
  type master;
  file "{{ zone_path }}/db.255";
};

logging {
  channel logs {
    file "{{ bind_logs_path }}/{{ bind_logs_file }}" versions 10 size 20m;

    print-time yes;
    print-category yes;
    print-severity yes;

    severity debug 1;
  };

  category queries { logs; };
  category query-errors { logs; };
  category resolver { logs; };
};