$TTL {{ ttl }}

@ IN SOA {{ soa_mname }} {{ soa_rname }} (
  {{ num }}
  {{ ref }}
  {{ ret }}
  {{ exp }}
  {{ ttl }}
)

@ IN NS {{ primary_ns }}
@ IN NS {{ secondary_ns }}

{{ primary_ns }} IN A {{ au_a_ip }}
{{ secondary_ns }} IN A {{ au_b_ip }}

@ IN A {{ au_a_ip }}
@ IN A {{ au_b_ip }}

{{ www_record }} IN A {{ au_a_ip }}
{{ www_record }} IN A {{ au_b_ip }}

{{ www_record_a }} IN A {{ au_a_ip }}
{{ www_record_b }} IN A {{ au_b_ip }}