$TTL {{ ttl }}
@ IN SOA {{ soa_mname }} {{ soa_rname }} (
  {{ serial_number }}
  {{ refresh }}
  {{ retry }}
  {{ expire }}
  {{ min_ttl }}
)

@ IN NS {{ soa_mname }}
{{ soa_mname }} IN A {{ tld_ip }}

{{ auth_domain }} IN NS {{ auth_ns_server_a }}
{{ auth_domain }} IN NS {{ auth_ns_server_b }}

{{ auth_ns_server_a }} IN A {{ auth_a_ip }}
{{ auth_ns_server_b }} IN A {{ auth_b_ip }}