---
all:
  hosts:
  %{ for name, vm in inss ~}
  ${trimspace(vm.labels.role)}:%{ if contains(["towr", "bast", "root", "tldd", "au_a", "au_b", "recr", "stub"], vm.labels.role) }
      ansible_host: ${trimspace(name)}
  %{ endif }%{ endfor ~}