---
all:
  hosts:
  %{ for name, vm in hosts ~}
  ${trimspace(name)}:
    %{ if contains(["bastion", "stub", "recursive", "root", "tld", "auth-a", "auth-b", "www-a", "www-b"], vm.labels.ansible_role) }
      ansible_host: ${trimspace(name)}
    %{ endif }
  %{ endfor ~}