---
stub_ip: "${stub_ip}"
recursive_ip: "${recursive_ip}"

root_ip: "${root_ip}"
tld_ip: "${tld_ip}"

auth_a_ip: "${auth_a_ip}"
auth_b_ip: "${auth_b_ip}"

www_a_ip: "${www_a_ip}"
www_b_ip: "${www_b_ip}"

subnet_cidr: "${subnet_cidr}"