---
su_cidr: "${su_cidr}"

stub_ip: "${stub_ip}"
recr_ip: "${recr_ip}"

root_ip: "${root_ip}"
tldd_ip: "${tldd_ip}"

au_a_ip: "${au_a_ip}"
au_b_ip: "${au_b_ip}"

ho_a_ip: "${ho_a_ip}"
ho_b_ip: "${ho_b_ip}"