sources:
  bind:
    type: file
    include:
      - "{{ bind_logs_path }}/{{ bind_logs_file }}"
    read_from: beginning

sinks:
  to_logstash:
    type: socket
    inputs: ["bind"]
    address: "{{ towr_ip }}:5044"
    mode: tcp
    encoding:
      codec: json
    healthcheck: false