---
- name: "TOWR"
  become: true
  hosts: towr
  vars_files:
    - "../variables/mon-host.yaml"
    - "../variables/common.yaml"
    - "../variables/terraform.yaml"

  tasks:
    - name: "TOWR : update"
      ansible.builtin.apt:
        update_cache: true

    - name: "TOWR : prepare"
      block:
        - name: "TOWR : check if exists : {{ towr_root_dir }}"
          ansible.builtin.stat:
            path: "{{ towr_root_dir }}"
          register: root_dir

        - name: "TOWR : check compose"
          community.docker.docker_compose_v2:
            project_src: "{{ towr_root_dir }}"
            state: present
          register: compose
          when: root_dir.stat.exists and root_dir.stat.isdir

        - name: "TOWR : stop compose"
          community.docker.docker_compose_v2:
            project_src: "{{ towr_root_dir }}"
            state: absent
          when: compose is not failed and root_dir.stat.exists and root_dir.stat.isdir

        - name: "TOWR : remove dir : {{ towr_root_dir }}"
          ansible.builtin.file:
            dest: "{{ towr_root_dir }}"
            state: absent
          when: compose is not failed

        - name: "TOWR : create dir : {{ towr_root_dir }}"
          ansible.builtin.file:
            dest: "{{ item }}"
            state: directory
            owner: debian
            group: docker
            mode: '0755'
          loop:
            - "{{ towr_root_dir }}"
            - "{{ elastic_dir }}"
            - "{{ prometh_dir }}"
            - "{{ grafana_dir }}"
            - "{{ elastic_data_dir }}"
            - "{{ prometh_data_dir }}"
            - "{{ grafana_data_dir }}"
            - "{{ elastic_conf_dir }}"
            - "{{ prometh_conf_dir }}"
            - "{{ grafana_conf_dir }}"
            - "{{ elastic_templates_dir }}"

        - name: "TOWR : set max_map_count"
          ansible.posix.sysctl:
            name: vm.max_map_count
            state: present
            value: '262144'
            reload: true
            sysctl_set: true

        - name: "TOWR : set permissions : {{ elastic_data_dir }}"
          ansible.builtin.file:
            path: "{{ elastic_data_dir }}"
            owner: 1000
            group: 1000
            mode: '0755'

    - name: "TOWR : deploy"
      block:
        - name: "TOWR : create docker-compose.yaml"
          ansible.builtin.template:
            src: "{{ templates_path }}/monitoring/docker-compose.yaml.j2"
            dest: "{{ towr_root_dir }}/docker-compose.yaml"
            owner: debian
            group: docker
            mode: '0644'

        - name: "TOWR : create elasticsearch.yaml"
          ansible.builtin.template:
            src: "{{ templates_path }}/monitoring/elasticsearch.yaml.j2"
            dest: "{{ towr_root_dir }}/elasticsearch.yaml"
            owner: debian
            group: docker
            mode: '0644'

        - name: "TOWR : create logstash.conf"
          ansible.builtin.template:
            src: "{{ templates_path }}/monitoring/logstash.conf.j2"
            dest: "{{ elastic_conf_dir }}/logstash.conf"
            owner: debian
            group: docker
            mode: '0644'

        - name: "TOWR : create logstash.json"
          ansible.builtin.template:
            src: "{{ templates_path }}/monitoring/logstash.json.j2"
            dest: "{{ elastic_templates_dir }}/logstash.json"
            owner: debian
            group: docker
            mode: '0644'

    - name: "TOWR : init"
      block:

        - name: "TOWR : start compose"
          community.docker.docker_compose_v2:
            project_src: "{{ towr_root_dir }}"
            state: present
            recreate: always

    - name: "TOWR config"
      block:

        - name: "TOWR : wait kibana"
          ansible.builtin.uri:
            url: "http://{{ towr_ip }}:5601/api/status"
            status_code: 200
            timeout: 25
          register: kibana
          until: kibana.status == 200
          ignore_errors: true
          retries: 25
          delay: 5

        - name: "TOWR : set dataview"
          ansible.builtin.uri:
            url: "http://{{ towr_ip }}:5601/api/data_views/data_view"
            method: POST
            headers:
              kbn-xsrf: "true"
              Content-Type: "application/json"
            body_format: json
            body:
              data_view:
                title: "dns-*"
                timeFieldName: "@timestamp"
                name: "dns-dataview"
            status_code: 200
            timeout: 25
          register: dataview
          until: dataview.status == 200
          retries: 5
          delay: 5
          ignore_errors: true
