---
- name: "STUB"
  become: true
  hosts: stub
  vars_files:
    - "../variables/res-stub.yaml"
    - "../variables/common.yaml"
    - "../variables/terraform.yaml"

  tasks:
    - name: "STUB : check ct : {{ container_name }}"
      ansible.builtin.shell: |
        docker ps -a --filter "name={{ container_name }}" --format "{{ '{{.Names}}' }}"
      register: container
      changed_when: false

    - name: "STUB : stop ct : {{ container_name }}"
      ansible.builtin.shell: |
        docker stop {{ container_name }}
      changed_when: false
      when: container.stdout == container_name

    - name: "STUB : remove ct : {{ container_name }}"
      ansible.builtin.shell: |
        docker rm {{ container_name }}
      changed_when: false
      when: container.stdout == container_name

    - name: "STUB : update img : {{ repository }}"
      ansible.builtin.shell: |
        docker pull {{ repository }}
      changed_when: false
      when: container.stdout == container_name

    - name: "STUB : run ct : {{ container_name }}"
      ansible.builtin.shell: |
        docker run -dit \
          --dns {{ recr_ip }} \
          --env DOMAINS={{ domains }} \
          --name {{ container_name }} \
          {{ repository }}
      changed_when: false
