%{ for name, cfg in inss ~}
Host ${name}
  HostName ${cfg.ins_name}
  User ${cfg.user}
  IdentityFile ${cfg.key_path}
  StrictHostKeyChecking accept-new
%{ if !cfg.is_bast ~}
  ProxyJump ${bast}
%{ endif ~}
%{ endfor ~}